---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Triforce from '../components/Triforce.astro';
import Preloader from '../components/Preloader.astro';
---

<Layout>
	<Preloader slot="preloader" />
	<Header />
	<main>
		<h1 style="text-align: center;">Muy Buenas.</h1>
		<p style="text-align: center;">Soy CapLitos05.</p>
		<Triforce />
		<p>
			Bienvenido a mi blog personal. Aquí encontrarás mis pensamientos, proyectos y experiencias.
		</p>
		<p>Algunas cosas que puedes hacer aquí:</p>
		<ul>
			<li>Explorar mis publicaciones en el blog</li>
			<li>Conocer más sobre mí</li>
			<li>Ver mis proyectos</li>
			<li>Contactarme</li>
		</ul>
	</main>
	<Footer />
</Layout>
