---
import Layout from '../layouts/BlogPost.astro';
---

<Layout 
	title="Poemas/Poems"
	description="Poems page"
	pubDate={new Date('August 08 2021')}
	heroImage="/img/CarlosMoheno_Movimiento.gif">
	<main>
		<h1>Poemas.</h1>
		<p>Soy CapLitos05.</p>
	</main>
</Layout>